.menu-item.animate-card {
    animation: popInOut 3s ease-in-out infinite;
  }
  
  @keyframes popInOut {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
  